@import "../../../_settings/_variables.css";

.grid {
    display: grid;
    grid-gap: 30px;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 20px;
}

.flexRight {
    
    :first-child {
        margin-left: auto;
    }
}